.search{
    display: flex;  
    
}
.search input{
    padding: 10px;
    height: 10px;
    width: 42rem;
    outline: none;
    border: none;
    font-size: 15px;
}
.icon{
    display: flex;
    gap: 20px;
}
.R{
    background-color: rgb(20, 20, 63);
    color: white;
    padding: 15px;
    border-radius: 50%;
    width: 45px;
    text-align: center;
    height: 45px;
    cursor: pointer;
    transition: 1s;
}
.R:hover{
    background-color: white;
    color: black;
}

.container{
    display: flex;
    background-color: white;
    height: 40px;
    width: 45rem;
    padding: 10px;
    border-radius: 20px;
    
}
.header{
    display:flex;   
    gap: 5rem;
    padding: 1rem;
}